page-home {
  .center-div
  {
    margin: 0 auto;
    width: 100px;
  }
  .color1 {
    color: red
  }
  .color2 {
    color: orange
  }
  .color3 {
    color: orchid
  }
  .color4 {
    color: lightseagreen
  }
  .color5 {
    color: blue
  }
  .color6 {
    color: green
  }
}
